:root {
    font-size: 16px;
    --text-primary: black;
    --bg-primary: grey;
    --bg-secondary: green;
}


body {
    color: black;
    background-color: lightgray ;
}

/* Navigation bar */
.navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--bg-primary);
    position: absolute;
    bottom: 0;
    left: 0;
    width:100%;
}
  
.nav-item {
    float: left;
    border-right:1px solid white;
}
  
.nav-link {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.nav-link:hover {
    background-color: var(--bg-secondary);
}

.nav-item:last-child {
    float: right;
    border-right: none;
    border-left: 1px solid white;
}

.link-text {
    color: black;
}
  
.active {
    background-color: #4CAF50;
}
#helpMe {
background-color: #008CBA; /* Green */
  border: none;
  color: black;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 100px;
  margin: 4px 2px;
  cursor: pointer;
  text-align: center;
  border-radius: 25px;
}

/* Arrow */
#arrow {
    max-width: 15%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

tr, th {
    text-align: center;
    border-bottom: 1px solid black;
    
}

canvas {
    background: #f8f8f8;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 1rem;
    scale: 300%;
    position: absolute;
    right: 10rem;
  }