<nav class = "navbar">
    <ul class = "navbar-nav">
        <li class = "nav-item">
            <a href = "/login" class = "nav-link">
                <span class = "link-text">
                    Login
                </span>
            </a>
        </li>
        <li class = "nav-item">
            <a href = "/admin" class = "nav-link">
                <span class = "link-text">
                    Admin
                </span>
            </a>
        </li>
        <li class = "nav-item">
            <a href = "/deltager" class = "nav-link">
                <span class = "link-text">
                    Deltager
                </span>
            </a>
        </li>
        <li class = "nav-item">
            <a href = "/samarit" class = "nav-link">
                <span class = "link-text">
                    Samarit
                </span>
            </a>
        </li>
        <form action="/logout?_method=DELETE" method="POST" class="logout">
            <li class = "nav-item">
                <button type="submit" class = "nav-link">
                    <span class = "link-text">
                        <%= name.toUpperCase() %> 
                    </span>
                </button>
            </li>
        </form>
        
    </ul>
</nav>

<form action="/logout?_method=DELETE" method="POST" class="logout">
    <button type="submit">Log Out</button>
</form>