<!DOCTYPE html>
<html lang = "da">
    <head>
        <meta charset = "UTF-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
        <title>Account overview</title>
        <link rel = "stylesheet" href = "../css/style.css">
    </head>

    <body onload="getAccounts()">
        <%- include('partials/usernav.ejs') -%>
        <table id = "accounttable" style = "width:75%">
            
        </table>
        <script src="../javascript/accounts.js"></script>
    </body>
</html>