<!DOCTYPE html>
<html lang = "da">
  <head>
    <meta charset = "utf-8">
    <title>Deltager</title>
    <meta name = "description">
    <link rel = "stylesheet" href = "../css/style.css">
  </head>
  <body>
    <h1>Deltager</h1>
    <!--<script src = "../javascript/movement.js"></script> !--> 
    <p>Ved tryk på knappen "Hjælp mig", accepterer du at applikationen har tilladelse til at anvende din lokation, i overensstemmelse med den danske GDPR-lovgivning.</p>    
    <button onclick = "getHelp()" class="button-text" id="helpMe">
        Hjælp mig
    </button>
    <p id = "demo"></p>
    <div id = "info" style = "display: none;">Hvis du har yderligere information, indtast her: <br> 
        <h3>Brug en kort forklaring for hvad du fejler, f.eks. "Brækket ben", "Høj Feber" eller lignende</h3>
      <input type="text" id="newinfo" placeholder="Skriv her" required> <br>
        <button onclick="sendAdditionalInfo(newinfo)">Submit Info</button>
    </div>

    <div id="theend" style="display: none;">
      <h1>Vi har modtaget din sag, og en samarit kommer hurtigst muligt!</h1>
    </div>

    </body>
    <script src = "../javascript/deltager.js"></script>

</html>