<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" href = "../css/login.css">
</head>
<body>
    <%- include('partials/nav.ejs') -%>
    <main>
        <div>
            <h1 class="headline">
                Registre end ny samarit bruger
            </h1>
            <p class="guidelines">
                Her kan du som administrator oprette en ny samarit bruger <br>
                Venligst indtast brugernavn og kodeord på den nye samarit bruger <br>
            </p>
            <div class="login-form">
                <form action="register" method="POST">
                    <label for="username"></label>
                    <input type="text" name="username" placeholder="Enter Username" required><br>
                    <label for="password"></label>
                    <input type="text" name="password" placeholder="Enter Password" required><br>
                    <input type="submit" value="LOG IN!">
                </form>
            </div>
        </div>
    </main> 
    <script src="../javascript/login.js"></script>
    
</body>
</html>