<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" href = "../css/login.css">
</head>
<body>
    <%- include('partials/nav.ejs') -%>
    <main>
        <div>
            <h1 class="headline">
                Registrer en ny samarit bruger
            </h1>
            <p class="guidelines">
                Her kan du som administrator oprette en ny samarit bruger <br>
                Venligst indtast brugernavn og kodeord på den nye samarit bruger <br>
            </p>
            <div class="login-form">
                <form action="register" method="POST">
                    <label for="name">Username:</label>
                    <input type="text" name="name" id="name" placeholder="Enter Username" required><br>
                    <label for="password">Password:</label>
                    <input type="password" name="password" id="password" placeholder="Enter password" required><br>
                    <label for="rights">Rettigheder:</label>
                    <select name="rights" id="rights">
                        <option value="admin">Administrator</option>
                        <option value="samarit">Samarit</option>
                    </select>
                    <button type="submit">Register</button>
                </form>
            </div>
        </div>
    </main> 
    <script src="../javascript/login.js"></script> <!-- Er det her rigtigt? -->
    
</body>
</html>